@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap') ;

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background-color: #191818;
  border: 3px solid black;
  border-radius: 20px;
}

:root {

  --background: white;

  --inputsAndTable: #e0e094;

  --tableTD: beige;

  --white: #191818;

}

.ligth-mode:root {

  --background: #191818;

  --inputsAndTable: #242933;

  --tableTD: #2a303c;

  --white: white;

}

::-webkit-scrollbar-thumb:horizontal {
  background-color: #191818;
  border: 3px solid black;
  border-radius: 20px;
}

body {
  background-color: var(--background);
  color: var(--white);
  font-family: Source Sans , sans-serif;
}

.bg-cover {
  mask-image: linear-gradient(to bottom, #191818 10%, transparent 90%);
}

.bkgInputs {
  background-color: var(--inputsAndTable);
}

.bkgInputs td {
  background-color: var(--tableTD);
}
